/* GENERICS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* UTILS  */

.flex {
  display: flex;
}

.container {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
}

.border {
  border: 2px dashed black;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.bb-skyblue {
  background-color: #1e90ff;
}

.bb-pink {
  background-color: #ffc0cb;
}

.col-c {
  width: 50%;
  min-height: 50px;
  background-color: #daa520;
}

.col-lr {
  width: 25%;
  min-height: 50px;
  background-color: #daa520;
}

/* HEADER */

header {
  background-color: #a7d1de;
  height: 100px;
}

/* SECTION */

a {
  padding: 0 15px;
}

/* BlOCK PINK */

.background-blue {
  background-color: #00008b;
  height: 500px;
}

.col-big {
  width: 50%;
  height: 80%;
  background-color: #ee82ee;
  margin: 0 auto;
}

/* BLOCK BLUE PINK */
.background-white {
  background-color: white;
  height: 500px;
}

.col-sm {
  width: 40%;
  height: 80%;
  margin: 0 auto;
}

.col-la {
  width: 60%;
  height: 80%;
  margin: 0 auto;
}

/* BLOCK PINK BLUE */
.background-grey {
  background-color: #d3d3d3;
  height: 500px;
}

/* BLOCK GREEN */

.background-grey-big {
  background-color: #d3d3d3;
  height: 1200px;
}

.col-exbig {
  width: 100%;
  height: 80%;
  background-color: #228b22;
  margin: 0 auto;
}

/* BLOCK DARKPINK */

.background-darkgrey {
  background-color: #23272a;
  height: 500px;
  border-bottom: 2px solid #d3d3d3;
}

.col-sm-d {
  width: 25%;
  height: 90%;
  margin: 15px auto;
}

.col-la-d {
  width: 75%;
  height: 90%;
  margin: 15px auto;
}

.background-darkpink {
  background-color: #f08080;
}

.col-sm-footer {
  width: calc(100% / 4);
  height: 100%;
  background-color: #20b2aa;
}

.border-f {
  border: 2px dashed white;
}
