/* GENERICS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* UTILS  */

.flex {
  display: flex;
}

.container {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
}

.border {
  border: 1px dashed black;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.col-c {
  width: 50%;
  min-height: 50px;
  background-color: #daa520;
}

.col-lr {
  width: 25%;
  min-height: 50px;
  background-color: #daa520;
}

/* HEADER */

header {
  background-color: #a7d1de;
  height: 100px;
}

/* SECTION */

a {
  padding: 0 15px;
}

.background-blue {
  background-color: #00008b;
  height: 500px;
}

.col-big {
  width: 50%;
  height: 80%;
  background-color: #ee82ee;
  margin: 0 auto;
}
